<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Loan Predition with Machine Learning (Final Project)</title>

    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- CSS Style Sheet Link  -->
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="tenor-gif-embed" data-postid="3442692" data-share-method="host" data-aspect-ratio="7" data-width="100%"><a href="https://tenor.com/view/la-los-angeles-night-skyline-gif-3442692">Los Angeles Skyline GIF</a>from <a href="https://tenor.com/search/la-gifs">La GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div class="container">
        <div class="jumbotron text-center bg-light">
            <h1>Home Loan Approval Survey</h1>
            <h4><i>Please enter your information below to see if you can be approved for a home loan!</i></h4>
        </div>
    </div>
    <div class="container">
        <p>Select an option for Gender:</p>
        <form method = "post" id = "myform"> 
            <input type="radio" id="male" name="gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="male">Female</label><br>
        <br>
        <p>Select an option for Married:</p>
            <input type="radio" id="yes" name="married" value="Yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="married" value="No">
            <label for="no">No</label><br>
        <br>
        <p>Select an option for number of dependents:</p>
        <input type="radio" id="0" name="dependents" value="0">
        <label for="0">0</label><br>
        <input type="radio" id="1" name="dependents" value="1">
        <label for="1">1</label><br>
        <input type="radio" id="2" name="dependents" value="2">
        <label for="2">2</label><br>
        <input type="radio" id="3+" name="dependents" value="3+">
        <label for="3+">3+</label><br>
        <br>
        <p>Please select educational level:</p>
            <input type="radio" id="graduate" name="education" value="Graduate">
            <label for="education">Graduate</label><br>
            <input type="radio" id="non-graduate" name="education" value="Non-Graduate">
            <label for="education">Non-Graduate</label><br>
            <br>
                <p>Please indicate whether you are self-employed:</p>
                <input type="radio" id="yes" name="employment" value="Yes">
                <label for="yes">Yes</label><br>
                <input type="radio" id="no" name="employment" value="No">
                <label for="no">No</label><br>
            <br>
            <p>(Please use numeric values in the spaces below):</p>
                <label for="income_applicant">Applicant Income:</label>
                <input type="text" id="income_applicant" name="income_applicant"><br>
            <br>
                <label for="income_coapplicant">Co-Applicant Income:</label>
                <input type="text" id="income_coapplicant" name="income_coapplicant"><br>
            <br>
                <label for="loan">Loan Amount:</label>
                <input type="text" id="loan" name="loan"><br>
            <br>
                <p>Please click "1" if you have a credit score of 690+, otherwise click "0":</p>
                <input type="radio" id="badhistory" name="credit" value="0">
                <label for="badhistory">0</label><br>
                <input type="radio" id="goodhistory" name="credit" value="1">
                <label for="goodhistory">1</label><br>
            <br>
                <p>If you are done, please click on the submit button below:</p>
                <input type="submit" value="Submit">
            </form>
            <br>

            <h4>Loan Status: {{ result }}<h4></h4>
            <br>
            <br>

    </div>
    <!-- <script type="text/javascript">
        $(document).on('submit','#myform',function(e)
                       {
          console.log('hello');
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/',
            data:{
              todo:$("#todo").val()
            },
            success:function()
            {
              alert('saved');
            }
          })
        });
      </script> -->
</body>

</html>